.custom-carousel .carousel-item img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
  }
  
  @media (max-width: 768px) {
    .custom-carousel .carousel-item img {
      max-height: 300px; /* Height for mobile devices */
    }
  }
  
  @media (min-width: 769px) and (max-width: 1200px) {
    .custom-carousel .carousel-item img {
      max-height: 400px; /* Height for tablets */
    }
  }
  
  @media (min-width: 1201px) {
    .custom-carousel .carousel-item img {
      max-height: 600px; /* Height for desktops */
    }
  }
  